<%= form_for @library, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.fields_for :address do |address_form| %>
    <%= address_form.label :street %>
    <%= address_form.text_field :street %>

    <%= address_form.label :building %>
    <%= address_form.text_field :building %>
  <% end %>

  <%= f.submit (@library.new_record? ? 'Create' : 'Update') %>
  <%= link_to 'Cancel', libraries_path %>
<% end %>