<h1>Libraries</h1>
<%= link_to 'New Library', new_library_path %>

<% @libraries.each do |library| %>
  <h2><%= library.name %></h2>
  <p><%= link_to 'show', library_path(library) %></p>
  <p><%= link_to 'Edit', edit_library_path(library) %></p>
<% end %>