<h1>Library</h1>
<p><%= link_to 'Main page', libraries_path %></p>
<h2><%= @library.name %></h2>
<% if @library.address %>
  <div>
    <h3>Address:</h3>
    <% address = @library.address %>
    <%= address.street + ' ' + address.building.to_s %>
  </div>
<% end %>
<p><%= link_to 'Delete', library_path(@library), method: :delete, data: { confirm: 'Are you sure?' } %></p>